<ion-view view-title="Contribui la EuVreau">
  <ion-content>
    <div class="list">
      <div class="item item-input item-stacked-label">
        <span class="input-label">In calitate de</span>
        <input style="background-color: white; font-weight: bold;" type="text" ng-disabled="true" ng-model="currentTopic.name">
      </div>
      <div class="item item-input item-stacked-label">
        <span class="input-label">As dori</span>
        <input type="text" ng-model="newSubtopic.name" placeholder="Innoirea permisului de conducere">
      </div>
      <div class="item item-input item-stacked-label">
        <span class="input-label">Unde</span>
        <input type="text" ng-model="newSubtopic.where" placeholder="Institutia care rezolva problema">
      </div>
      <div style="border-width: 0px;" class="item item-input item-stacked-label">
        <span class="input-label">Pasi</span>
        <div class="list">
          <div style="padding: 0px; border-width: 0px 0px 1px 0px;" ng-repeat="step in newSubtopic.how track by $index" class="item item-input-inset">
            <input style="padding: 0px;" type="text" ng-model="step" placeholder="Scurta descriere pas" ng-model-options="{ debounce: 500 }" ng-change="preserveStep(step, $index)">
            <button ng-click="addNewStep()"
                    style="padding-right: 10px; color: green; cursor: pointer; float: right;"
                    class="button button-icon icon ion-ios-plus-outline pull-right">
            </button>
          </div>

        </div>
      </div>


    </div>

  </ion-content>
</ion-view>
