<ion-view view-title="Detalii">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        What
      </div>
      <div class="item item-text-wrap">
        <h3>{{subtopicDetails.name}}</h3>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Where
      </div>
      <div class="item item-text-wrap">
        <h3>{{subtopicDetails.where}}<h3>
      </div>
    </div>
    <ion-list>
      <ion-item ng-click="" class="item item-text-wrap" ng-repeat="item in subtopicDetails.how">
        {{item}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
